.wrapper_step1 {
  max-width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper_step2 {
  max-width: 219px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icom {
  margin-bottom: 30px;
}
.header {
  color: #333333;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.3;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.title {
  color: #333333;
  text-align: center;
  font-size: 13px;
  font-family: Roboto;
  line-height: 1.5;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.terms {
  display: block;
  color: #333333;
  text-align: left;
  font-size: 10px;
  font-family: Roboto;
  line-height: 1.5;
  gap: 5px;

  @media screen and (min-width: 768px) {
    font-size: 13px;
  }
}
.link {
  color: #333333;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-top: 40px;
  gap: 15px;
}
.field {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333333;
  padding: 11px 20px;
  background-color: #fafafa;
}

.field::placeholder {
  color: #333333;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
}

.number {
  padding-left: 61px;
  background: url("../assets/img/ua.jpg") no-repeat;
  background-size: 26px 18px, auto;
  background-position: 20px center, center;
  flex-shrink: 0;
}
.error {
  color: #ff0000;
  border: 1px solid #ff0000;
  background-color: rgba(255, 204, 204, 0.2);
}
.field:hover,
.field:focus {
  outline: none;
}

.form__button {
  height: 35px;
  width: 100%;
  background: #859ba6;
  border-style: none;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    height: 45px;
  }
}