.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.nav__item {
  color: #333333;
  font-size: 16px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.phone {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  text-decoration: none;
}
